*{
   margin: 0;padding: 0;
}
header{
   background-color: brown;
   height: 50px;
   color: white;
   margin: 10px;
   border-radius: 5px;
   border-style: outset;  
   border-top: 458px;
   border-bottom-left-radius: 13px;
   text-decoration: transparent;
   color: powderblue;
}
.container{
   border: 2px solid black;
}
h2{
   text-align: center;
}
.btn {
   
   display: flex;
   justify-content: center;
   border: 2px solid black;
   border-radius: 4px;
   margin-left: 700px; 
}
.btn:hover{
   height:22px;
}

li{
   float: right;
   padding: 9px;
   margin: 10px;
   color: white;
   text-decoration: none;
   cursor: pointer;
}
.kat{
   height: 5px;
   width: 5px;
   border: 2px solid black;
   border-radius: 20px;
}
header ul li a{
   width: 20px;
   height: 5px;
   color:white;
   text-decoration: none;
   border-radius: 3px;
}

header ul li a:hover{
   width: 20px;
   height: 5px;
   background-color: beige;
   color:black;
   text-decoration: none;
   border-radius: 4px;
   

}
.kity{
   height: 415px;

}
.kity a p{
   text-decoration: none;
   margin-left: 30px;
   justify-content: center;
   align-items: center;
}
.eyes{
   width: 87px;
   height: 47px;
   margin-right: 2px;
   /* padding: ; */
   border: 2px solid black;
   border-radius: 14px;
}
.bite{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   padding:10px;
     }
main section h2{

   transform: rotate(-90deg);
}
.ram{
       border: 3px solid black;
       box-shadow: 4px solid red;
       border-radius: 10px;
       display: block;
       width: 250px;
       margin-bottom: -299px;
       height: 300px;
       margin-left: 298px;
}
.mess{
       border: 3px solid black;
       border-radius: 10px;
       display: block;
       width: 244px;
       margin-bottom: -299px;
       height: 294px;
       margin-left: 971px;
}
.center {
   border: 2px solid black;
   border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;
width: 250px;

}
 p{
   padding: 3px;
   font-size: x-large;

}
div main section a{
   height: 20px;
   width: 20px;
}
.progress{
   margin: 0px;
   background-color:red;
   height: 2px;
   text-decoration: none;
   
}
img{
   /* padding: 25px; */
   width: 250px;
   height: 300px;
   border-radius: 35px;
}
img:hover{
   height: 280px;
}
h6{
   padding: 18px;
   font-size:xx-large;
   text-align: center;
   font-style: italic;
}
footer{
   background-color: brown;
   color: white;
   height: 40px;
   text-align: center;
   padding: 42px;

}
.eyes{
   width: 87px;
   height: 47px;
   margin-right: 2px;
   /* padding: ; */
   border: 2px solid black;
   border-radius: 14px;
}
h6{
   font-size: xx-large;
   text-align: center;
   font-style: italic;
}
img{

padding: 25px;
width: 250px;
height: 300px;
border-radius: 35px;
}
img:hover{
height: 280px;
}
footer{
   background-color: brown;
   color: white;
   height: 40px;
   text-align: center;
   padding: 42px;

}
.eyes{
   width: 87px;
   height: 47px;
   margin-right: 2px;
   /* padding: ; */
   border: 2px solid black;
   border-radius: 14px;
}
body{
   background-color: rgb(186, 218, 224);
}
li{
   float: right;
   padding: 9px;
   margin: 10px;
   color: white;
   text-decoration: none;
   cursor: pointer;
}
header ul li a{
   width: 20px;
   height: 5px;
   color:white;
   text-decoration: none;
   border-radius: 3px;
}

header ul li a:hover{
   width: 20px;
   height: 5px;
   background-color: beige;
   color:black;
   text-decoration: none;
   border-radius: 3px;

}
h1{
   text-align: center;
   /* margin-left: 250px; */
}
p{
   text-align: center;
}
.kl{
   margin: 10px;padding: 8px;
   text-align: center;
}
.box{
   position: relative;
  
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(223, 25, 124);
   margin-left: auto;
   margin-right: auto;
   width: 255px;
   height: 287px;
   color: #fff;
   overflow: hidden;
   border-radius: 20px;
}
.box::before{
   content:'';
   position:absolute;
   width: 150px;
   height: 140%;
   background: linear-gradient(#00ccff,#d400d4);
   animation: animate 4s linear infinite;
} 
.box::after{
   content:'';
   position:absolute;
   inset: 4px;
   
}   
.box img{
   position: relative;
   color:#fff;
   font-size: 10em;
   z-index: 10;
}   
@keyframes animate {
   0%{
       transform: rotate(0deg);
   }
   100%{
       transform: rotate(350deg);
   }
   
}    
.yo{
   border-radius: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 250px;  
}
.lp{
   border-radius: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 250px; 
}
.nm{
   border-radius: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 250px; 
}
img{
   padding: 12px;
   width: 250px;
   height: 250px;
   
}
.eyes{
   width: 87px;
   height: 47px;
   margin-right: 2px;
   /* padding: ; */
   border: 2px solid black;
   border-radius: 14px;
}

.text{
   padding: 10px;margin: 16px;
   font-size: 20px;
   font-weight: bold;
   text-align: center;    
}
.hi{
   padding: 10px;margin: 16px;
   font-size: 20px;
   font-weight: bold;
}
.op{
   padding: 10px;margin: 16px;
   font-size: 20px;
   font-weight: bold;
}
.be{
   padding: 10px;margin: 16px;
   font-size: 20px;
   font-weight: bold;
}
footer{
   background-color: brown;
   color: white;
   height: 40px;
   text-align: center;
   padding: 42px;

}
